In [2]:
# make sure to run this pip intall if first time using API
# pip install full_fred

Requirement already satisfied: full_fred in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (0.0.9a3)
Requirement already satisfied: pandas in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from full_fred) (1.3.1)
Requirement already satisfied: requests in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from full_fred) (2.20.0)
Requirement already satisfied: pytz>=2017.3 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from pandas->full_fred) (2018.6)
Requirement already satisfied: numpy>=1.17.3 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from pandas->full_fred) (1.18.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from pandas->full_fred) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from requests->full_fred) (2018.10.15)
Requirement already satisfied: idna<2.8,>=2.5 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from requests->full_fred) (2.7)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from requests->full_fred) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from requests->full_fred) (3.0.4)
Requirement already satisfied: six>=1.5 in /Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->full_fred) (1.13.0)
Note: you may need to restart the kernel to use updated packages.

# Caution: get_series_df() may take a couple minutes to run so be patient!

Just a general note about working with API's. Be patient with them! They do have to contact the other application so does take time to retrieve so don't rush it. Rushing it can cause the API to believe you're a bot and flag you so you can't use the API anymore. Just wait lol

In [1]:
import pandas as pd
from full_fred.fred import Fred

In [17]:
#start new environment with the txt file with API key in it
#change the filepath to where your PERSONAL API is. Don't leak this out or else someone else will use it!

#to get filepath on mac, go to the folder where your API is and right click, press option 'Get __ as pathname'

fred = Fred('/Users/victhaaa/fred_api_key.txt')

In [18]:
#shows the api key file
fred.get_api_key_file()

'/Users/victhaaa/fred_api_key.txt'

In [19]:
#example PPI index of all commodities
df = fred.get_series_df('PPIFDG')

In [20]:
df

    realtime_start realtime_end        date    value
0       2022-01-30   2022-01-30  2009-11-01    100.0
1       2022-01-30   2022-01-30  2009-12-01    100.2
2       2022-01-30   2022-01-30  2010-01-01    101.5
3       2022-01-30   2022-01-30  2010-02-01    100.9
4       2022-01-30   2022-01-30  2010-03-01    102.2
..             ...          ...         ...      ...
141     2022-01-30   2022-01-30  2021-08-01  128.296
142     2022-01-30   2022-01-30  2021-09-01  129.342
143     2022-01-30   2022-01-30  2021-10-01  130.767
144     2022-01-30   2022-01-30  2021-11-01  131.736
145     2022-01-30   2022-01-30  2021-12-01  130.941

[146 rows x 4 columns]

In [21]:
df = df.drop(columns = ['realtime_start','realtime_end'], axis = 1)
df

           date    value
0    2009-11-01    100.0
1    2009-12-01    100.2
2    2010-01-01    101.5
3    2010-02-01    100.9
4    2010-03-01    102.2
..          ...      ...
141  2021-08-01  128.296
142  2021-09-01  129.342
143  2021-10-01  130.767
144  2021-11-01  131.736
145  2021-12-01  130.941

[146 rows x 2 columns]

In [22]:
df.set_index('date')

              value
date
2009-11-01    100.0
2009-12-01    100.2
2010-01-01    101.5
2010-02-01    100.9
2010-03-01    102.2
...             ...
2021-08-01  128.296
2021-09-01  129.342
2021-10-01  130.767
2021-11-01  131.736
2021-12-01  130.941

[146 rows x 1 columns]

In [23]:
#atttempting to create dataframe that adds all API fetches
def fetch_data(series_dict):
    #input is a list of series id strings
    full_df = pd.DataFrame()
    
    for key,value in series_dict.items():
        #get the series dataframe
        mini_df = fred.get_series_df(key)
        
        #drop the columns of the retrieved dataframe
        mini_df = mini_df.drop(columns = ['realtime_start','realtime_end'], axis = 1)
        
        mini_df = mini_df.set_index('date')
        mini_df = mini_df.rename(columns = {'value':value})
        
        #wont append with indexes so used columns
        mini_dfT = mini_df.T
        
        full_df = full_df.append(mini_dfT)
    return full_df

In [24]:
#dictionary of series that we need to retrieve
retrieve_series = {'PPIFID':'Final demand','PPIFDG':'Final demand goods',
                   'PPIFDF':'Final demand foods','WPU0111':'Fresh fruits and melons',
                    'WPU0113':'Fresh and dry vegetables','WPU012':'Grains','WPU017107':'Eggs for fresh use'}

In [25]:
fetch_data({'PPIFID':'Final demand'})

date,2009-11-01,2009-12-01,2010-01-01,2010-02-01,2010-03-01,2010-04-01,2010-05-01,2010-06-01,2010-07-01,2010-08-01,...,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,2021-09-01,2021-10-01,2021-11-01,2021-12-01
Final demand,100.0,99.9,101.0,100.9,101.2,101.6,101.8,101.6,101.7,101.9,...,123.0,124.3,125.5,126.6,127.824,128.755,129.155,130.128,131.002,130.956

In [26]:
ppi = fetch_data(retrieve_series)
ppi

date,2009-11-01,2009-12-01,2010-01-01,2010-02-01,2010-03-01,2010-04-01,2010-05-01,2010-06-01,2010-07-01,2010-08-01,...,1946-03-01,1946-04-01,1946-05-01,1946-06-01,1946-07-01,1946-08-01,1946-09-01,1946-10-01,1946-11-01,1946-12-01
Final demand,100.0,99.9,101.0,100.9,101.2,101.6,101.8,101.6,101.7,101.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Final demand goods,100.0,100.2,101.5,100.9,102.2,102.7,102.9,102.3,102.6,102.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Final demand foods,100.0,101.9,102.0,102.1,104.6,104.0,104.2,101.6,102.4,102.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fresh fruits and melons,118.1,134.6,147.9,140.3,134.2,125.1,132.0,109.8,113.7,111.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fresh and dry vegetables,178.2,188.5,165.1,174.1,262.4,235.2,191.8,150.0,164.7,157.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grains,144.6,144.5,143.8,138.3,138.5,137.9,143.4,136.9,141.9,150.8,...,46.0,46.1,49.9,51.1,61.0,56.9,57.4,58.7,55.7,54.9
Eggs for fresh use,144.7,152.7,138.8,144.3,157.9,113.1,92.8,93.6,107.3,107.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#checking for duplicate dates
for i in ppi:
    print(i)

2009-11-01
2009-12-01
2010-01-01
2010-02-01
2010-03-01
2010-04-01
2010-05-01
2010-06-01
2010-07-01
2010-08-01
2010-09-01
2010-10-01
2010-11-01
2010-12-01
2011-01-01
2011-02-01
2011-03-01
2011-04-01
2011-05-01
2011-06-01
2011-07-01
2011-08-01
2011-09-01
2011-10-01
2011-11-01
2011-12-01
2012-01-01
2012-02-01
2012-03-01
2012-04-01
2012-05-01
2012-06-01
2012-07-01
2012-08-01
2012-09-01
2012-10-01
2012-11-01
2012-12-01
2013-01-01
2013-02-01
2013-03-01
2013-04-01
2013-05-01
2013-06-01
2013-07-01
2013-08-01
2013-09-01
2013-10-01
2013-11-01
2013-12-01
2014-01-01
2014-02-01
2014-03-01
2014-04-01
2014-05-01
2014-06-01
2014-07-01
2014-08-01
2014-09-01
2014-10-01
2014-11-01
2014-12-01
2015-01-01
2015-02-01
2015-03-01
2015-04-01
2015-05-01
2015-06-01
2015-07-01
2015-08-01
2015-09-01
2015-10-01
2015-11-01
2015-12-01
2016-01-01
2016-02-01
2016-03-01
2016-04-01
2016-05-01
2016-06-01
2016-07-01
2016-08-01
2016-09-01
2016-10-01
2016-11-01
2016-12-01
2017-01-01
2017-02-01
2017-03-01
2017-04-01
2017-05-01
2017-06-01
2017-07-01
2017-08-01
2017-09-01
2017-10-01
2017-11-01
2017-12-01
2018-01-01
2018-02-01
2018-03-01
2018-04-01
2018-05-01
2018-06-01
2018-07-01
2018-08-01
2018-09-01
2018-10-01
2018-11-01
2018-12-01
2019-01-01
2019-02-01
2019-03-01
2019-04-01
2019-05-01
2019-06-01
2019-07-01
2019-08-01
2019-09-01
2019-10-01
2019-11-01
2019-12-01
2020-01-01
2020-02-01
2020-03-01
2020-04-01
2020-05-01
2020-06-01
2020-07-01
2020-08-01
2020-09-01
2020-10-01
2020-11-01
2020-12-01
2021-01-01
2021-02-01
2021-03-01
2021-04-01
2021-05-01
2021-06-01
2021-07-01
2021-08-01
2021-09-01
2021-10-01
2021-11-01
2021-12-01
1947-01-01
1947-02-01
1947-03-01
1947-04-01
1947-05-01
1947-06-01
1947-07-01
1947-08-01
1947-09-01
1947-10-01
1947-11-01
1947-12-01
1948-01-01
1948-02-01
1948-03-01
1948-04-01
1948-05-01
1948-06-01
1948-07-01
1948-08-01
1948-09-01
1948-10-01
1948-11-01
1948-12-01
1949-01-01
1949-02-01
1949-03-01
1949-04-01
1949-05-01
1949-06-01
1949-07-01
1949-08-01
1949-09-01
1949-10-01
1949-11-01
1949-12-01
1950-01-01
1950-02-01
1950-03-01
1950-04-01
1950-05-01
1950-06-01
1950-07-01
1950-08-01
1950-09-01
1950-10-01
1950-11-01
1950-12-01
1951-01-01
1951-02-01
1951-03-01
1951-04-01
1951-05-01
1951-06-01
1951-07-01
1951-08-01
1951-09-01
1951-10-01
1951-11-01
1951-12-01
1952-01-01
1952-02-01
1952-03-01
1952-04-01
1952-05-01
1952-06-01
1952-07-01
1952-08-01
1952-09-01
1952-10-01
1952-11-01
1952-12-01
1953-01-01
1953-02-01
1953-03-01
1953-04-01
1953-05-01
1953-06-01
1953-07-01
1953-08-01
1953-09-01
1953-10-01
1953-11-01
1953-12-01
1954-01-01
1954-02-01
1954-03-01
1954-04-01
1954-05-01
1954-06-01
1954-07-01
1954-08-01
1954-09-01
1954-10-01
1954-11-01
1954-12-01
1955-01-01
1955-02-01
1955-03-01
1955-04-01
1955-05-01
1955-06-01
1955-07-01
1955-08-01
1955-09-01
1955-10-01
1955-11-01
1955-12-01
1956-01-01
1956-02-01
1956-03-01
1956-04-01
1956-05-01
1956-06-01
1956-07-01
1956-08-01
1956-09-01
1956-10-01
1956-11-01
1956-12-01
1957-01-01
1957-02-01
1957-03-01
1957-04-01
1957-05-01
1957-06-01
1957-07-01
1957-08-01
1957-09-01
1957-10-01
1957-11-01
1957-12-01
1958-01-01
1958-02-01
1958-03-01
1958-04-01
1958-05-01
1958-06-01
1958-07-01
1958-08-01
1958-09-01
1958-10-01
1958-11-01
1958-12-01
1959-01-01
1959-02-01
1959-03-01
1959-04-01
1959-05-01
1959-06-01
1959-07-01
1959-08-01
1959-09-01
1959-10-01
1959-11-01
1959-12-01
1960-01-01
1960-02-01
1960-03-01
1960-04-01
1960-05-01
1960-06-01
1960-07-01
1960-08-01
1960-09-01
1960-10-01
1960-11-01
1960-12-01
1961-01-01
1961-02-01
1961-03-01
1961-04-01
1961-05-01
1961-06-01
1961-07-01
1961-08-01
1961-09-01
1961-10-01
1961-11-01
1961-12-01
1962-01-01
1962-02-01
1962-03-01
1962-04-01
1962-05-01
1962-06-01
1962-07-01
1962-08-01
1962-09-01
1962-10-01
1962-11-01
1962-12-01
1963-01-01
1963-02-01
1963-03-01
1963-04-01
1963-05-01
1963-06-01
1963-07-01
1963-08-01
1963-09-01
1963-10-01
1963-11-01
1963-12-01
1964-01-01
1964-02-01
1964-03-01
1964-04-01
1964-05-01
1964-06-01
1964-07-01
1964-08-01
1964-09-01
1964-10-01
1964-11-01
1964-12-01
1965-01-01
1965-02-01
1965-03-01
1965-04-01
1965-05-01
1965-06-01
1965-07-01
1965-08-01
1965-09-01
1965-10-01
1965-11-01
1965-12-01
1966-01-01
1966-02-01
1966-03-01
1966-04-01
1966-05-01
1966-06-01
1966-07-01
1966-08-01
1966-09-01
1966-10-01
1966-11-01
1966-12-01
1967-01-01
1967-02-01
1967-03-01
1967-04-01
1967-05-01
1967-06-01
1967-07-01
1967-08-01
1967-09-01
1967-10-01
1967-11-01
1967-12-01
1968-01-01
1968-02-01
1968-03-01
1968-04-01
1968-05-01
1968-06-01
1968-07-01
1968-08-01
1968-09-01
1968-10-01
1968-11-01
1968-12-01
1969-01-01
1969-02-01
1969-03-01
1969-04-01
1969-05-01
1969-06-01
1969-07-01
1969-08-01
1969-09-01
1969-10-01
1969-11-01
1969-12-01
1970-01-01
1970-02-01
1970-03-01
1970-04-01
1970-05-01
1970-06-01
1970-07-01
1970-08-01
1970-09-01
1970-10-01
1970-11-01
1970-12-01
1971-01-01
1971-02-01
1971-03-01
1971-04-01
1971-05-01
1971-06-01
1971-07-01
1971-08-01
1971-09-01
1971-10-01
1971-11-01
1971-12-01
1972-01-01
1972-02-01
1972-03-01
1972-04-01
1972-05-01
1972-06-01
1972-07-01
1972-08-01
1972-09-01
1972-10-01
1972-11-01
1972-12-01
1973-01-01
1973-02-01
1973-03-01
1973-04-01
1973-05-01
1973-06-01
1973-07-01
1973-08-01
1973-09-01
1973-10-01
1973-11-01
1973-12-01
1974-01-01
1974-02-01
1974-03-01
1974-04-01
1974-05-01
1974-06-01
1974-07-01
1974-08-01
1974-09-01
1974-10-01
1974-11-01
1974-12-01
1975-01-01
1975-02-01
1975-03-01
1975-04-01
1975-05-01
1975-06-01
1975-07-01
1975-08-01
1975-09-01
1975-10-01
1975-11-01
1975-12-01
1976-01-01
1976-02-01
1976-03-01
1976-04-01
1976-05-01
1976-06-01
1976-07-01
1976-08-01
1976-09-01
1976-10-01
1976-11-01
1976-12-01
1977-01-01
1977-02-01
1977-03-01
1977-04-01
1977-05-01
1977-06-01
1977-07-01
1977-08-01
1977-09-01
1977-10-01
1977-11-01
1977-12-01
1978-01-01
1978-02-01
1978-03-01
1978-04-01
1978-05-01
1978-06-01
1978-07-01
1978-08-01
1978-09-01
1978-10-01
1978-11-01
1978-12-01
1979-01-01
1979-02-01
1979-03-01
1979-04-01
1979-05-01
1979-06-01
1979-07-01
1979-08-01
1979-09-01
1979-10-01
1979-11-01
1979-12-01
1980-01-01
1980-02-01
1980-03-01
1980-04-01
1980-05-01
1980-06-01
1980-07-01
1980-08-01
1980-09-01
1980-10-01
1980-11-01
1980-12-01
1981-01-01
1981-02-01
1981-03-01
1981-04-01
1981-05-01
1981-06-01
1981-07-01
1981-08-01
1981-09-01
1981-10-01
1981-11-01
1981-12-01
1982-01-01
1982-02-01
1982-03-01
1982-04-01
1982-05-01
1982-06-01
1982-07-01
1982-08-01
1982-09-01
1982-10-01
1982-11-01
1982-12-01
1983-01-01
1983-02-01
1983-03-01
1983-04-01
1983-05-01
1983-06-01
1983-07-01
1983-08-01
1983-09-01
1983-10-01
1983-11-01
1983-12-01
1984-01-01
1984-02-01
1984-03-01
1984-04-01
1984-05-01
1984-06-01
1984-07-01
1984-08-01
1984-09-01
1984-10-01
1984-11-01
1984-12-01
1985-01-01
1985-02-01
1985-03-01
1985-04-01
1985-05-01
1985-06-01
1985-07-01
1985-08-01
1985-09-01
1985-10-01
1985-11-01
1985-12-01
1986-01-01
1986-02-01
1986-03-01
1986-04-01
1986-05-01
1986-06-01
1986-07-01
1986-08-01
1986-09-01
1986-10-01
1986-11-01
1986-12-01
1987-01-01
1987-02-01
1987-03-01
1987-04-01
1987-05-01
1987-06-01
1987-07-01
1987-08-01
1987-09-01
1987-10-01
1987-11-01
1987-12-01
1988-01-01
1988-02-01
1988-03-01
1988-04-01
1988-05-01
1988-06-01
1988-07-01
1988-08-01
1988-09-01
1988-10-01
1988-11-01
1988-12-01
1989-01-01
1989-02-01
1989-03-01
1989-04-01
1989-05-01
1989-06-01
1989-07-01
1989-08-01
1989-09-01
1989-10-01
1989-11-01
1989-12-01
1990-01-01
1990-02-01
1990-03-01
1990-04-01
1990-05-01
1990-06-01
1990-07-01
1990-08-01
1990-09-01
1990-10-01
1990-11-01
1990-12-01
1991-01-01
1991-02-01
1991-03-01
1991-04-01
1991-05-01
1991-06-01
1991-07-01
1991-08-01
1991-09-01
1991-10-01
1991-11-01
1991-12-01
1992-01-01
1992-02-01
1992-03-01
1992-04-01
1992-05-01
1992-06-01
1992-07-01
1992-08-01
1992-09-01
1992-10-01
1992-11-01
1992-12-01
1993-01-01
1993-02-01
1993-03-01
1993-04-01
1993-05-01
1993-06-01
1993-07-01
1993-08-01
1993-09-01
1993-10-01
1993-11-01
1993-12-01
1994-01-01
1994-02-01
1994-03-01
1994-04-01
1994-05-01
1994-06-01
1994-07-01
1994-08-01
1994-09-01
1994-10-01
1994-11-01
1994-12-01
1995-01-01
1995-02-01
1995-03-01
1995-04-01
1995-05-01
1995-06-01
1995-07-01
1995-08-01
1995-09-01
1995-10-01
1995-11-01
1995-12-01
1996-01-01
1996-02-01
1996-03-01
1996-04-01
1996-05-01
1996-06-01
1996-07-01
1996-08-01
1996-09-01
1996-10-01
1996-11-01
1996-12-01
1997-01-01
1997-02-01
1997-03-01
1997-04-01
1997-05-01
1997-06-01
1997-07-01
1997-08-01
1997-09-01
1997-10-01
1997-11-01
1997-12-01
1998-01-01
1998-02-01
1998-03-01
1998-04-01
1998-05-01
1998-06-01
1998-07-01
1998-08-01
1998-09-01
1998-10-01
1998-11-01
1998-12-01
1999-01-01
1999-02-01
1999-03-01
1999-04-01
1999-05-01
1999-06-01
1999-07-01
1999-08-01
1999-09-01
1999-10-01
1999-11-01
1999-12-01
2000-01-01
2000-02-01
2000-03-01
2000-04-01
2000-05-01
2000-06-01
2000-07-01
2000-08-01
2000-09-01
2000-10-01
2000-11-01
2000-12-01
2001-01-01
2001-02-01
2001-03-01
2001-04-01
2001-05-01
2001-06-01
2001-07-01
2001-08-01
2001-09-01
2001-10-01
2001-11-01
2001-12-01
2002-01-01
2002-02-01
2002-03-01
2002-04-01
2002-05-01
2002-06-01
2002-07-01
2002-08-01
2002-09-01
2002-10-01
2002-11-01
2002-12-01
2003-01-01
2003-02-01
2003-03-01
2003-04-01
2003-05-01
2003-06-01
2003-07-01
2003-08-01
2003-09-01
2003-10-01
2003-11-01
2003-12-01
2004-01-01
2004-02-01
2004-03-01
2004-04-01
2004-05-01
2004-06-01
2004-07-01
2004-08-01
2004-09-01
2004-10-01
2004-11-01
2004-12-01
2005-01-01
2005-02-01
2005-03-01
2005-04-01
2005-05-01
2005-06-01
2005-07-01
2005-08-01
2005-09-01
2005-10-01
2005-11-01
2005-12-01
2006-01-01
2006-02-01
2006-03-01
2006-04-01
2006-05-01
2006-06-01
2006-07-01
2006-08-01
2006-09-01
2006-10-01
2006-11-01
2006-12-01
2007-01-01
2007-02-01
2007-03-01
2007-04-01
2007-05-01
2007-06-01
2007-07-01
2007-08-01
2007-09-01
2007-10-01
2007-11-01
2007-12-01
2008-01-01
2008-02-01
2008-03-01
2008-04-01
2008-05-01
2008-06-01
2008-07-01
2008-08-01
2008-09-01
2008-10-01
2008-11-01
2008-12-01
2009-01-01
2009-02-01
2009-03-01
2009-04-01
2009-05-01
2009-06-01
2009-07-01
2009-08-01
2009-09-01
2009-10-01
1926-01-01
1926-02-01
1926-03-01
1926-04-01
1926-05-01
1926-06-01
1926-07-01
1926-08-01
1926-09-01
1926-10-01
1926-11-01
1926-12-01
1927-01-01
1927-02-01
1927-03-01
1927-04-01
1927-05-01
1927-06-01
1927-07-01
1927-08-01
1927-09-01
1927-10-01
1927-11-01
1927-12-01
1928-01-01
1928-02-01
1928-03-01
1928-04-01
1928-05-01
1928-06-01
1928-07-01
1928-08-01
1928-09-01
1928-10-01
1928-11-01
1928-12-01
1929-01-01
1929-02-01
1929-03-01
1929-04-01
1929-05-01
1929-06-01
1929-07-01
1929-08-01
1929-09-01
1929-10-01
1929-11-01
1929-12-01
1930-01-01
1930-02-01
1930-03-01
1930-04-01
1930-05-01
1930-06-01
1930-07-01
1930-08-01
1930-09-01
1930-10-01
1930-11-01
1930-12-01
1931-01-01
1931-02-01
1931-03-01
1931-04-01
1931-05-01
1931-06-01
1931-07-01
1931-08-01
1931-09-01
1931-10-01
1931-11-01
1931-12-01
1932-01-01
1932-02-01
1932-03-01
1932-04-01
1932-05-01
1932-06-01
1932-07-01
1932-08-01
1932-09-01
1932-10-01
1932-11-01
1932-12-01
1933-01-01
1933-02-01
1933-03-01
1933-04-01
1933-05-01
1933-06-01
1933-07-01
1933-08-01
1933-09-01
1933-10-01
1933-11-01
1933-12-01
1934-01-01
1934-02-01
1934-03-01
1934-04-01
1934-05-01
1934-06-01
1934-07-01
1934-08-01
1934-09-01
1934-10-01
1934-11-01
1934-12-01
1935-01-01
1935-02-01
1935-03-01
1935-04-01
1935-05-01
1935-06-01
1935-07-01
1935-08-01
1935-09-01
1935-10-01
1935-11-01
1935-12-01
1936-01-01
1936-02-01
1936-03-01
1936-04-01
1936-05-01
1936-06-01
1936-07-01
1936-08-01
1936-09-01
1936-10-01
1936-11-01
1936-12-01
1937-01-01
1937-02-01
1937-03-01
1937-04-01
1937-05-01
1937-06-01
1937-07-01
1937-08-01
1937-09-01
1937-10-01
1937-11-01
1937-12-01
1938-01-01
1938-02-01
1938-03-01
1938-04-01
1938-05-01
1938-06-01
1938-07-01
1938-08-01
1938-09-01
1938-10-01
1938-11-01
1938-12-01
1939-01-01
1939-02-01
1939-03-01
1939-04-01
1939-05-01
1939-06-01
1939-07-01
1939-08-01
1939-09-01
1939-10-01
1939-11-01
1939-12-01
1940-01-01
1940-02-01
1940-03-01
1940-04-01
1940-05-01
1940-06-01
1940-07-01
1940-08-01
1940-09-01
1940-10-01
1940-11-01
1940-12-01
1941-01-01
1941-02-01
1941-03-01
1941-04-01
1941-05-01
1941-06-01
1941-07-01
1941-08-01
1941-09-01
1941-10-01
1941-11-01
1941-12-01
1942-01-01
1942-02-01
1942-03-01
1942-04-01
1942-05-01
1942-06-01
1942-07-01
1942-08-01
1942-09-01
1942-10-01
1942-11-01
1942-12-01
1943-01-01
1943-02-01
1943-03-01
1943-04-01
1943-05-01
1943-06-01
1943-07-01
1943-08-01
1943-09-01
1943-10-01
1943-11-01
1943-12-01
1944-01-01
1944-02-01
1944-03-01
1944-04-01
1944-05-01
1944-06-01
1944-07-01
1944-08-01
1944-09-01
1944-10-01
1944-11-01
1944-12-01
1945-01-01
1945-02-01
1945-03-01
1945-04-01
1945-05-01
1945-06-01
1945-07-01
1945-08-01
1945-09-01
1945-10-01
1945-11-01
1945-12-01
1946-01-01
1946-02-01
1946-03-01
1946-04-01
1946-05-01
1946-06-01
1946-07-01
1946-08-01
1946-09-01
1946-10-01
1946-11-01
1946-12-01

In [29]:
#sort index of years
z = ppi.reindex(sorted(ppi.columns), axis=1)
z

date,1926-01-01,1926-02-01,1926-03-01,1926-04-01,1926-05-01,1926-06-01,1926-07-01,1926-08-01,1926-09-01,1926-10-01,...,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,2021-09-01,2021-10-01,2021-11-01,2021-12-01
Final demand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.0,124.3,125.5,126.6,127.824,128.755,129.155,130.128,131.002,130.956
Final demand goods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.3,122.3,124.7,126.5,127.472,128.296,129.342,130.767,131.736,130.941
Final demand foods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.9,127.3,131.6,133.4,131.119,133.625,135.746,135.016,136.603,136.156
Fresh fruits and melons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.5,145.9,143.1,146.8,140.425,139.955,139.506,139.661,167.725,158.535
Fresh and dry vegetables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,191.1,174.8,186.0,189.0,183.851,208.056,249.151,291.962,325.555,277.685
Grains,37.9,36.5,34.2,34.7,33.7,32.9,33.9,32.2,32.1,32.8,...,215.5,225.5,285.5,260.8,249.686,251.986,223.168,217.942,232.633,246.703
Eggs for fresh use,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,181.0,128.4,117.6,114.3,135.362,134.702,163.239,143.448,135.498,198.984

In [30]:
#transpose to switch columns with rows
zT = z.T
zT

,Final demand,Final demand goods,Final demand foods,Fresh fruits and melons,Fresh and dry vegetables,Grains,Eggs for fresh use
date,,,,,,,
1926-01-01,NaN,NaN,NaN,NaN,NaN,37.9,NaN
1926-02-01,NaN,NaN,NaN,NaN,NaN,36.5,NaN
1926-03-01,NaN,NaN,NaN,NaN,NaN,34.2,NaN
1926-04-01,NaN,NaN,NaN,NaN,NaN,34.7,NaN
1926-05-01,NaN,NaN,NaN,NaN,NaN,33.7,NaN
...,...,...,...,...,...,...,...
2021-08-01,128.755,128.296,133.625,139.955,208.056,251.986,134.702
2021-09-01,129.155,129.342,135.746,139.506,249.151,223.168,163.239
2021-10-01,130.128,130.767,135.016,139.661,291.962,217.942,143.448
2021-11-01,131.002,131.736,136.603,167.725,325.555,232.633,135.498
2021-12-01,130.956,130.941,136.156,158.535,277.685,246.703,198.984