# Merge Gold and Oil Data

Data from: https://fred.stlouisfed.org/series/DCOILBRENTEU
https://fred.stlouisfed.org/series/MCOILWTICO

In [1]:
import pandas as pd

In [2]:
gold = pd.read_csv('../CPI_Data/gold_prices_appr22.csv')
gold
gold['Date'] = pd.to_datetime(gold['Date'], infer_datetime_format = True)
gold['Gold US dollar per oz'] = pd.to_numeric(gold['Gold US dollar per oz'])
gold

          Date  Gold US dollar per oz
0   1978-12-31                 207.80
1   1979-01-31                 227.30
2   1979-02-28                 245.70
3   1979-03-30                 242.10
4   1979-04-30                 239.20
..         ...                    ...
516 2021-12-31                1786.70
517 2022-01-31                1816.80
518 2022-02-28                1856.30
519 2022-03-30                1909.85
520 2022-04-30                1911.30

[521 rows x 2 columns]

In [3]:
oil = pd.read_csv('../CPI_Data/crude_oil_apr22.csv')
oil = oil.rename(columns = {'DATE':'Date', 'MCOILWTICO':'Crude Oil Price'})
oil['Date'] = pd.to_datetime(oil['Date'], infer_datetime_format = True)
oil

          Date  Crude Oil Price
0   1986-01-01            22.93
1   1986-02-01            15.46
2   1986-03-01            12.61
3   1986-04-01            12.84
4   1986-05-01            15.38
..         ...              ...
431 2021-12-01            71.71
432 2022-01-01            83.22
433 2022-02-01            91.64
434 2022-03-01           108.50
435 2022-04-01           101.78

[436 rows x 2 columns]

In [4]:
date_series = gold['Date']
date_series

0     1978-12-31
1     1979-01-31
2     1979-02-28
3     1979-03-30
4     1979-04-30
         ...
516   2021-12-31
517   2022-01-31
518   2022-02-28
519   2022-03-30
520   2022-04-30
Name: Date, Length: 521, dtype: datetime64[ns]

In [5]:
# fixing the dates to be on the first of the month
count = 0
for i in gold['Date']:
    date_series.loc[count] = i.replace(day = 1)
    count += 1
date_series

gold['Date'] = date_series

/Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [6]:
oil

          Date  Crude Oil Price
0   1986-01-01            22.93
1   1986-02-01            15.46
2   1986-03-01            12.61
3   1986-04-01            12.84
4   1986-05-01            15.38
..         ...              ...
431 2021-12-01            71.71
432 2022-01-01            83.22
433 2022-02-01            91.64
434 2022-03-01           108.50
435 2022-04-01           101.78

[436 rows x 2 columns]

In [7]:
#reduce the rows to the number we have in cpi df
gold = gold.set_index('Date')
oil = oil.set_index('Date')

In [8]:
oil.index

DatetimeIndex(['1986-01-01', '1986-02-01', '1986-03-01', '1986-04-01',
               '1986-05-01', '1986-06-01', '1986-07-01', '1986-08-01',
               '1986-09-01', '1986-10-01',
               ...
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01'],
              dtype='datetime64[ns]', name='Date', length=436, freq=None)

In [9]:
gold.index

DatetimeIndex(['1978-12-01', '1979-01-01', '1979-02-01', '1979-03-01',
               '1979-04-01', '1979-05-01', '1979-06-01', '1979-07-01',
               '1979-08-01', '1979-09-01',
               ...
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01'],
              dtype='datetime64[ns]', name='Date', length=521, freq=None)

## Merging together with CPI data

In [10]:
cpi = pd.read_csv('../CPI_Data/Monthly_cpi_index_apr22.csv', index_col = 0)
cpi.index = pd.to_datetime(cpi.index, infer_datetime_format = True)
cpi.index = cpi.index.rename('Date')
cpi

,Food,Food at home,Cereals and bakery products,Cereals and cereal products,Flour and prepared flour mixes,Breakfast cereal,"Rice, pasta, cornmeal",Bakery products,Bread,"Fresh biscuits, rolls, muffins",...,Private transportation,New and used motor vehicles,Utilities and public transportation,Household furnishings and operations,Other goods and services,Personal care,Recorded music and music subscriptions,"Men's underwear, nightwear, swimwear, and accessories",Residential telephone services,All items
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,232.666,231.694,266.677,234.159,252.159,228.664,242.992,283.880,170.658,167.911,...,206.307,99.659,205.521,125.629,391.382,210.299,89.691,148.547,NaN,227.842
2012-02-01,232.486,231.180,267.821,233.362,250.564,227.984,242.217,286.484,172.978,168.364,...,210.013,99.889,205.398,126.180,391.236,210.330,89.896,148.183,NaN,228.329
2012-03-01,232.792,231.383,267.101,232.660,252.104,227.997,238.975,285.771,172.955,168.406,...,216.536,100.325,205.637,126.107,392.364,211.289,89.704,149.106,NaN,228.807
2012-04-01,233.234,231.711,268.014,233.662,252.102,228.862,240.693,286.589,173.559,166.211,...,218.563,100.977,206.050,126.114,393.320,211.865,89.084,150.584,NaN,229.187
2012-05-01,233.339,231.518,268.653,235.054,254.336,230.326,241.615,286.629,173.581,167.158,...,215.978,101.399,206.866,125.905,392.859,211.649,88.904,155.044,NaN,228.713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,286.966,267.555,297.279,243.944,248.322,241.597,251.399,328.129,200.504,194.413,...,246.999,124.853,231.516,136.787,487.131,247.561,79.733,167.052,NaN,280.126
2022-01-01,289.772,270.711,302.242,246.536,264.478,238.165,255.463,334.550,202.802,197.864,...,248.995,126.211,235.419,139.162,490.856,249.954,79.855,170.644,140.232,281.933
2022-02-01,292.794,274.568,306.193,249.590,266.133,240.812,259.560,339.033,203.586,202.667,...,253.525,126.822,236.442,140.306,496.045,252.862,78.968,174.732,140.970,284.182
2022-03-01,295.728,278.612,311.606,255.990,273.106,246.618,266.558,343.758,205.262,207.902,...,264.669,126.417,238.961,141.358,498.538,254.111,78.819,175.267,140.640,287.708
2022-04-01,298.711,282.161,314.787,258.814,268.748,252.613,268.736,347.132,209.338,205.891,...,265.383,127.338,244.061,142.110,500.673,255.213,79.313,172.910,141.694,288.663

In [11]:
cpi = cpi.join(gold)
cpi = cpi.join(oil)

In [13]:
cpi

,Food,Food at home,Cereals and bakery products,Cereals and cereal products,Flour and prepared flour mixes,Breakfast cereal,"Rice, pasta, cornmeal",Bakery products,Bread,"Fresh biscuits, rolls, muffins",...,Utilities and public transportation,Household furnishings and operations,Other goods and services,Personal care,Recorded music and music subscriptions,"Men's underwear, nightwear, swimwear, and accessories",Residential telephone services,All items,Gold US dollar per oz,Crude Oil Price
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,232.666,231.694,266.677,234.159,252.159,228.664,242.992,283.880,170.658,167.911,...,205.521,125.629,391.382,210.299,89.691,148.547,NaN,227.842,1656.10,100.27
2012-02-01,232.486,231.180,267.821,233.362,250.564,227.984,242.217,286.484,172.978,168.364,...,205.398,126.180,391.236,210.330,89.896,148.183,NaN,228.329,1742.60,102.20
2012-03-01,232.792,231.383,267.101,232.660,252.104,227.997,238.975,285.771,172.955,168.406,...,205.637,126.107,392.364,211.289,89.704,149.106,NaN,228.807,1673.80,106.16
2012-04-01,233.234,231.711,268.014,233.662,252.102,228.862,240.693,286.589,173.559,166.211,...,206.050,126.114,393.320,211.865,89.084,150.584,NaN,229.187,1650.10,103.32
2012-05-01,233.339,231.518,268.653,235.054,254.336,230.326,241.615,286.629,173.581,167.158,...,206.866,125.905,392.859,211.649,88.904,155.044,NaN,228.713,1585.50,94.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,286.966,267.555,297.279,243.944,248.322,241.597,251.399,328.129,200.504,194.413,...,231.516,136.787,487.131,247.561,79.733,167.052,NaN,280.126,1786.70,71.71
2022-01-01,289.772,270.711,302.242,246.536,264.478,238.165,255.463,334.550,202.802,197.864,...,235.419,139.162,490.856,249.954,79.855,170.644,140.232,281.933,1816.80,83.22
2022-02-01,292.794,274.568,306.193,249.590,266.133,240.812,259.560,339.033,203.586,202.667,...,236.442,140.306,496.045,252.862,78.968,174.732,140.970,284.182,1856.30,91.64
2022-03-01,295.728,278.612,311.606,255.990,273.106,246.618,266.558,343.758,205.262,207.902,...,238.961,141.358,498.538,254.111,78.819,175.267,140.640,287.708,1909.85,108.50
2022-04-01,298.711,282.161,314.787,258.814,268.748,252.613,268.736,347.132,209.338,205.891,...,244.061,142.110,500.673,255.213,79.313,172.910,141.694,288.663,1911.30,101.78

In [14]:
cpi.index

DatetimeIndex(['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01',
               ...
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01'],
              dtype='datetime64[ns]', name='Date', length=124, freq=None)

In [15]:
gold.index

DatetimeIndex(['1978-12-01', '1979-01-01', '1979-02-01', '1979-03-01',
               '1979-04-01', '1979-05-01', '1979-06-01', '1979-07-01',
               '1979-08-01', '1979-09-01',
               ...
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01'],
              dtype='datetime64[ns]', name='Date', length=521, freq=None)

In [17]:
# save to csv
# cpi.to_csv('../CPI_Data/cpi_w_gold_oil_apr22.csv')