# Merge Gold and Oil Data

Data from: https://fred.stlouisfed.org/series/DCOILBRENTEU
https://fred.stlouisfed.org/series/MCOILWTICO

In [1]:
import pandas as pd

In [2]:
gold = pd.read_csv('../CPI_Data/gold_prices.csv')
gold['Date'] = pd.to_datetime(gold['Date'], infer_datetime_format = True)
gold['Gold US dollar per oz'] = pd.to_numeric(gold['Gold US dollar per oz'])
gold

          Date  Gold US dollar per oz
0   1978-12-31                  207.8
1   1979-01-31                  227.3
2   1979-02-28                  245.7
3   1979-03-30                  242.1
4   1979-04-30                  239.2
..         ...                    ...
514 2021-10-29                 1776.9
515 2021-11-30                 1820.2
516 2021-12-31                 1786.7
517 2022-01-31                 1816.8
518 2022-02-28                 1856.3

[519 rows x 2 columns]

In [3]:
oil = pd.read_csv('../CPI_Data/crude_oil.csv')
oil = oil.rename(columns = {'DATE':'Date', 'MCOILWTICO':'Crude Oil Price'})
oil['Date'] = pd.to_datetime(oil['Date'], infer_datetime_format = True)
oil

          Date  Crude Oil Price
0   1986-01-01            22.93
1   1986-02-01            15.46
2   1986-03-01            12.61
3   1986-04-01            12.84
4   1986-05-01            15.38
..         ...              ...
429 2021-10-01            81.48
430 2021-11-01            79.15
431 2021-12-01            71.71
432 2022-01-01            83.22
433 2022-02-01            91.64

[434 rows x 2 columns]

In [4]:
date_series = gold['Date']
date_series

0     1978-12-31
1     1979-01-31
2     1979-02-28
3     1979-03-30
4     1979-04-30
         ...
514   2021-10-29
515   2021-11-30
516   2021-12-31
517   2022-01-31
518   2022-02-28
Name: Date, Length: 519, dtype: datetime64[ns]

In [5]:
# fixing the dates to be on the first of the month
count = 0
for i in gold['Date']:
    date_series.loc[count] = i.replace(day = 1)
    count += 1
date_series

gold['Date'] = date_series

/Users/victhaaa/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [6]:
gold

          Date  Gold US dollar per oz
0   1978-12-01                  207.8
1   1979-01-01                  227.3
2   1979-02-01                  245.7
3   1979-03-01                  242.1
4   1979-04-01                  239.2
..         ...                    ...
514 2021-10-01                 1776.9
515 2021-11-01                 1820.2
516 2021-12-01                 1786.7
517 2022-01-01                 1816.8
518 2022-02-01                 1856.3

[519 rows x 2 columns]

In [7]:
#reduce the rows to the number we have in cpi df
gold = gold.iloc[397::].set_index('Date')
oil = oil.iloc[312::].set_index('Date')

In [8]:
gold

            Gold US dollar per oz
Date
2012-01-01                 1656.1
2012-02-01                 1742.6
2012-03-01                 1673.8
2012-04-01                 1650.1
2012-05-01                 1585.5
...                           ...
2021-10-01                 1776.9
2021-11-01                 1820.2
2021-12-01                 1786.7
2022-01-01                 1816.8
2022-02-01                 1856.3

[122 rows x 1 columns]

In [9]:
oil.index

DatetimeIndex(['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01',
               ...
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01'],
              dtype='datetime64[ns]', name='Date', length=122, freq=None)

In [10]:
gold.index

DatetimeIndex(['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01',
               ...
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01'],
              dtype='datetime64[ns]', name='Date', length=122, freq=None)

## Merging together with CPI data

In [26]:
cpi = pd.read_csv('../CPI_Data/Monthly_cpi_index.csv', index_col = 0)
cpi.index = pd.to_datetime(cpi.index, infer_datetime_format = True)
cpi.index = cpi.index.rename('Date')
cpi

,Food,Food at home,Cereals and bakery products,Cereals and cereal products,Flour and prepared flour mixes,Breakfast cereal,"Rice, pasta, cornmeal",Bakery products,Bread,"Fresh biscuits, rolls, muffins",...,Transportation,Private transportation,New and used motor vehicles,Utilities and public transportation,Household furnishings and operations,Other goods and services,Personal care,Recorded music and music subscriptions,"Men's underwear, nightwear, swimwear, and accessories",All items
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,232.666,231.694,266.677,234.159,252.159,228.664,242.992,283.880,170.658,167.911,...,210.799,206.307,99.659,205.521,125.629,391.382,210.299,89.691,148.547,227.842
2012-02-01,232.486,231.180,267.821,233.362,250.564,227.984,242.217,286.484,172.978,168.364,...,214.429,210.013,99.889,205.398,126.180,391.236,210.330,89.896,148.183,228.329
2012-03-01,232.792,231.383,267.101,232.660,252.104,227.997,238.975,285.771,172.955,168.406,...,220.842,216.536,100.325,205.637,126.107,392.364,211.289,89.704,149.106,228.807
2012-04-01,233.234,231.711,268.014,233.662,252.102,228.862,240.693,286.589,173.559,166.211,...,223.083,218.563,100.977,206.050,126.114,393.320,211.865,89.084,150.584,229.187
2012-05-01,233.339,231.518,268.653,235.054,254.336,230.326,241.615,286.629,173.581,167.158,...,220.768,215.978,101.399,206.866,125.905,392.859,211.649,88.904,155.044,228.713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-01,279.135,259.825,288.990,236.194,248.823,229.855,245.495,319.545,192.971,186.280,...,238.333,237.994,119.475,229.805,132.076,479.048,244.968,79.549,167.846,273.092
2021-09-01,281.506,262.695,292.069,236.183,250.198,229.122,245.890,324.458,196.492,194.852,...,236.373,236.655,117.947,229.568,133.462,479.525,244.840,79.820,168.872,274.214
2021-10-01,284.205,265.478,294.625,239.371,249.956,236.615,245.062,326.628,198.052,195.203,...,241.042,241.413,120.192,231.301,134.745,483.592,246.307,79.954,170.986,276.590
2021-11-01,285.507,266.384,295.909,241.091,246.663,238.343,248.552,327.648,200.415,197.481,...,245.532,245.735,122.436,231.880,135.345,484.683,246.445,79.385,170.751,278.524
2021-12-01,286.966,267.555,297.279,243.944,248.322,241.597,251.399,328.129,200.504,194.413,...,246.499,246.999,124.853,231.516,136.787,487.131,247.561,79.733,167.052,280.126

In [30]:
cpi = cpi.join(oil)
cpi = cpi.join(gold)

In [31]:
cpi

,Food,Food at home,Cereals and bakery products,Cereals and cereal products,Flour and prepared flour mixes,Breakfast cereal,"Rice, pasta, cornmeal",Bakery products,Bread,"Fresh biscuits, rolls, muffins",...,New and used motor vehicles,Utilities and public transportation,Household furnishings and operations,Other goods and services,Personal care,Recorded music and music subscriptions,"Men's underwear, nightwear, swimwear, and accessories",All items,Crude Oil Price,Gold US dollar per oz
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,232.666,231.694,266.677,234.159,252.159,228.664,242.992,283.880,170.658,167.911,...,99.659,205.521,125.629,391.382,210.299,89.691,148.547,227.842,100.27,1656.1
2012-02-01,232.486,231.180,267.821,233.362,250.564,227.984,242.217,286.484,172.978,168.364,...,99.889,205.398,126.180,391.236,210.330,89.896,148.183,228.329,102.20,1742.6
2012-03-01,232.792,231.383,267.101,232.660,252.104,227.997,238.975,285.771,172.955,168.406,...,100.325,205.637,126.107,392.364,211.289,89.704,149.106,228.807,106.16,1673.8
2012-04-01,233.234,231.711,268.014,233.662,252.102,228.862,240.693,286.589,173.559,166.211,...,100.977,206.050,126.114,393.320,211.865,89.084,150.584,229.187,103.32,1650.1
2012-05-01,233.339,231.518,268.653,235.054,254.336,230.326,241.615,286.629,173.581,167.158,...,101.399,206.866,125.905,392.859,211.649,88.904,155.044,228.713,94.66,1585.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-01,279.135,259.825,288.990,236.194,248.823,229.855,245.495,319.545,192.971,186.280,...,119.475,229.805,132.076,479.048,244.968,79.549,167.846,273.092,67.73,1784.0
2021-09-01,281.506,262.695,292.069,236.183,250.198,229.122,245.890,324.458,196.492,194.852,...,117.947,229.568,133.462,479.525,244.840,79.820,168.872,274.214,71.65,1777.3
2021-10-01,284.205,265.478,294.625,239.371,249.956,236.615,245.062,326.628,198.052,195.203,...,120.192,231.301,134.745,483.592,246.307,79.954,170.986,276.590,81.48,1776.9
2021-11-01,285.507,266.384,295.909,241.091,246.663,238.343,248.552,327.648,200.415,197.481,...,122.436,231.880,135.345,484.683,246.445,79.385,170.751,278.524,79.15,1820.2
2021-12-01,286.966,267.555,297.279,243.944,248.322,241.597,251.399,328.129,200.504,194.413,...,124.853,231.516,136.787,487.131,247.561,79.733,167.052,280.126,71.71,1786.7

In [36]:
# save to csv
# cpi.to_csv('../CPI_Data/cpi_w_gold_oil.csv')